<a href="https://colab.research.google.com/github/ramadhaykp12/Infonesia-Football-National-Team-Scrapping/blob/main/IndonesiaNationalTeamDataScrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
webpage = requests.get("https://www.pssi.org/national-team/mens-seniors/players")
soup = BeautifulSoup(webpage.content, "html.parser")

In [ ]:
# Get players jersey number data
nomor = soup.find_all(attrs={"class": "inline inline--bordered text-huge"})
nomor_list = []
for x in nomor[1:] : 
   nomor_list.append(str(x.get_text()))

In [ ]:
nomor_list

['1',
 '26',
 '19',
 '14',
 '16',
 '28',
 '30',
 '3',
 '31',
 '10',
 '6',
 '15',
 '13',
 '17',
 '8',
 '10',
 '0',
 '25',
 '7',
 '15',
 '6',
 '9',
 '18']

In [ ]:
# Get players name data
nama_pemain = soup.find_all(attrs={"class": "inline text-left text-uppercase"})
nama_list = []
for x in nama_pemain[1:] : 
   nama_list.append(str(x.get_text()))

In [ ]:
nama_list

['\nMUHAMMAD\nADISATRYO\n',
 '\nSyahrul\nFadil\n',
 '\nFACHRUDIN\nWAHYUDI\n',
 '\nASNAWI\nMANGKUALAM\n',
 '\nRIZKY\nFEBRIANTO\n',
 '\nALFEANDRA\nDEWANGGA\n',
 '\nELKAN\nBAGGOTT\n',
 '\nEdo\nFebriansyah\n',
 '\nRio\nFahmi\n',
 '\nSTEFANO\nLILIPALY\n',
 '\nEVAN\nDIMAS\n',
 '\nSADDIL\nRAMDANI\n',
 '\nRACHMAT\nIRIANTO\n',
 '\nSYAHRIAN\nABIMANYU\n',
 '\nWITAN\nSULAEMAN\n',
 '\nEGY\nMAULANA\n',
 '\nTerens\nPuhiri\n',
 '\nIRFAN\nJAYA\n',
 '\nMARSELINO\nFERDINAN\n',
 '\nRICKY\nKAMBUAYA\n',
 '\nMarc\nKlok\n',
 '\nMUHAMAMAD\nRAFLI\n',
 '\nIRFAN\nJAUHARI\n']

In [ ]:
# Menghapus \n, \t, dan spasi ekstra
cleaned_nomor = [ " ".join(item.split()) for item in nomor_list ]
cleaned_nama = [ " ".join(item.split()) for item in nama_list ]
print(cleaned_nomor)
print(cleaned_nama)

['1', '26', '19', '14', '16', '28', '30', '3', '31', '10', '6', '15', '13', '17', '8', '10', '0', '25', '7', '15', '6', '9', '18']
['MUHAMMAD ADISATRYO', 'Syahrul Fadil', 'FACHRUDIN WAHYUDI', 'ASNAWI MANGKUALAM', 'RIZKY FEBRIANTO', 'ALFEANDRA DEWANGGA', 'ELKAN BAGGOTT', 'Edo Febriansyah', 'Rio Fahmi', 'STEFANO LILIPALY', 'EVAN DIMAS', 'SADDIL RAMDANI', 'RACHMAT IRIANTO', 'SYAHRIAN ABIMANYU', 'WITAN SULAEMAN', 'EGY MAULANA', 'Terens Puhiri', 'IRFAN JAYA', 'MARSELINO FERDINAN', 'RICKY KAMBUAYA', 'Marc Klok', 'MUHAMAMAD RAFLI', 'IRFAN JAUHARI']

In [ ]:
data = {"Nama Pemain" : cleaned_nama, "Nomor Punggung" : cleaned_nomor}

In [ ]:
df = pd.DataFrame.from_dict(data)

In [ ]:
df

           Nama Pemain Nomor Punggung
0   MUHAMMAD ADISATRYO              1
1        Syahrul Fadil             26
2    FACHRUDIN WAHYUDI             19
3    ASNAWI MANGKUALAM             14
4      RIZKY FEBRIANTO             16
5   ALFEANDRA DEWANGGA             28
6        ELKAN BAGGOTT             30
7      Edo Febriansyah              3
8            Rio Fahmi             31
9     STEFANO LILIPALY             10
10          EVAN DIMAS              6
11      SADDIL RAMDANI             15
12     RACHMAT IRIANTO             13
13   SYAHRIAN ABIMANYU             17
14      WITAN SULAEMAN              8
15         EGY MAULANA             10
16       Terens Puhiri              0
17          IRFAN JAYA             25
18  MARSELINO FERDINAN              7
19      RICKY KAMBUAYA             15
20           Marc Klok              6
21     MUHAMAMAD RAFLI              9
22       IRFAN JAUHARI             18